APP_PORT=8005
DB_URL=root:rootpassword@tcp(localhost:3306)/neocentral_internship?charset=utf8mb4&parseTime=True&loc=Local
JWT_SECRET=supersecretkey
NATS_URL=nats://localhost:4222
DOCUMENT_SERVICE_URL=http://localhost:8003
